* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100vh;
  padding: 3rem 0;
}

main.all {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding:0 2rem;
}

div.descriptionTitle{
    


}



























@media (min-width: 768px) {
  main.all {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  section.testimonials {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
